<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Video.js Sandbox</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
  <style>
    /* latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'),
        url(https://fonts.gstatic.com/s/roboto/v16/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2)
          format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }
  </style>
  <link
        href="../node_modules/videojs-vtt-thumbnails/dist/videojs-vtt-thumbnails.css"
        rel="stylesheet"
        type="text/css"
      />
      <link
        href="../node_modules/videojs-seek-buttons/dist/videojs-seek-buttons.css"
        rel="stylesheet"
        type="text/css"
      />
      <link href="../dist/video-js.css" rel="stylesheet" type="text/css" />

      <script src="../node_modules/videojs-vtt-thumbnails/dist/videojs-vtt-thumbnails.js"></script>
      <script src="../node_modules/videojs-seek-buttons/dist/videojs-seek-buttons.js"></script>

  <script src="../dist/video.js"></script>
</head>
<body>
  <div style="background-color:#eee; border: 1px solid #777; padding: 10px; margin-bottom: 20px; font-size: .8em; line-height: 1.5em; font-family: Verdana, sans-serif;">
    <p>You can use /sandbox/ for writing and testing your own code. Nothing in /sandbox/ will get checked into the repo, except files that end in .example (so don't edit or add those files). To get started run `npm start` and open the index.html</p>
    <pre>npm start</pre>
    <pre>open http://localhost:9999/sandbox/index.html</pre>
  </div>

  <video-js
    id="vid1"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="http://vjs.zencdn.net/v/oceans.png">
    <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
    <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
    <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
    <track kind="captions" src="../docs/examples/shared/example-captions.vtt" srclang="en" label="English">
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video-js>

  <script>
    var vid = document.getElementById('vid1');
    var player = videojs(vid);

        this.player.seekButtons({
          forward: 10,
          back: 10
        });

        this.player.vttThumbnails({
          src: conf.timelineThumbnails
        });
  </script>

</body>
</html>
